*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans", sans-serif;
}
:root{
    --main-colour: #0076a8;

}

.white-upper{
    background-color: #fff;
    height: 1.25rem;
    width: 100%;
    margin-top: -1.25rem;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 30px 60px;
    position: fixed;
    max-width: 100%;
    background-color: #fff;


    .left{
        display: flex;
        align-items: center;
        gap: 3.125rem;

        .logo{
            height: 2.813rem;
    
        .aid{
            height: 100%;
            width: 110px;
        }
      }
      ul{
        display: flex;
        margin-top: 1.25rem;
        gap: 3.125rem;

        li{
           list-style: none; 
           a{
            text-decoration: none;
            color: black;
           }
        }
      }
    }
     
      .right{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;
        margin-top: 1.25rem;
        margin-right: 9.375rem;

        #glass{
            color: var(--main-colour);
            cursor: pointer;
        }
        .nav-button{
            padding: 0.625rem;
            width: 6.875rem;
            height: 3.125rem;
            border-radius: 0.5rem;
            color: #fff;
            font-weight: 500;
            font-size: 1rem;
            background-color: var(--main-colour);
            border: none;
            cursor: pointer;
        }
      }
    }
    video{
        max-width: 100%;
        margin-top: 6.875rem;
        height: 37.5rem;
        width: 100vw;
        overflow: hidden;
    }

#arrow{
    color: black;
    background-color: black;
}
.info{
    position: relative;
    top: -306px;
    left: 47px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    background-color: var(--main-colour);
    width: 40%;
    margin: 0 60px;
    padding: 25px;
    color: #fff;
        h1{
            font-size: 38px;
        }
        .info-p{
            margin-top: 10px;
            font-size: 20px;
            font-weight: 300;
         }
         .button{
            display: flex;
            gap: 30px;
            align-items: center;
            margin-top: 40px;

        
        .donate-button{
            padding: 10px;
            width: 129px;
            height: 40px;
            border-radius: 8px;
            color: black;
            font-weight: 600;
            font-size: 16px;
            background-color: #fff;
            border: none;
            cursor: pointer;
        }
        .more-button{
            border-radius: 8px;
            color: #fff;
            font-weight: 600;
            font-size: 16px;
            border: none;
            cursor: pointer;

            i{
                color: #fff;
                margin-right: 8px;
            }
        }
    }
}
.hero-down{
    background-color: #f8f8f8;
    width: auto;
    height: auto;
    margin-top: -308px;

    .hero-down-content{
        background-color: #fff;
        padding: 15px;

        h2{
            font-size: 35px;
            margin-top: 100px;
            margin-left: 300px;
            margin-right: auto;
        }

        .circle-elements{
            margin-top: 70px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 250px;
            height: auto;
            margin-bottom: 150px;

        .circle-elements-details{
            display: flex;
            padding-top: 129px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 150px;
            width: 150px;
            border-radius: 50%;
            background-color: teal;

            h3{
                padding-top: 60px;
                font-size: 28px;
            }
            #hand{
                color: #fff;
                font-size: 50px;
                margin: 20px;

            }
        }
        .circle-elements-details-two{
            display: flex;
            padding-top: 129px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 150px;
            width: 150px;
            border-radius: 50%;
            background-color: teal;

            h3{
                padding-top: 60px;
                font-size: 28px;
            }
            #hand{
                color: #fff;
                font-size: 50px;
                margin: 20px;
            }
        }
        .circle-elements-details-two{
            display: flex;
            padding-top: 129px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 150px;
            width: 150px;
            border-radius: 50%;
            background-color: rgb(255, 100, 126);

            h3{
                padding-top: 60px;
                font-size: 28px;
            }
            #hand{
                color: #fff;
                font-size: 50px;
                margin: 20px;
            }
            p{
                display: flex;
                justify-content: center;
                width: 280px;
                align-items: center;
            }
        }
        .circle-elements-details-three{
            display: flex;
            padding-top: 129px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 150px;
            width: 150px;
            border-radius: 50%;
            background-color: rgb(188, 43, 188);

            h3{
                padding-top: 60px;
                font-size: 28px;
            }
            #hand{
                color: #fff;
                font-size: 50px;
                margin: 20px;

               

            }
        }
        }
        .hand-button{
            padding: 10px;
            width: 310px;
            height: 50px;
            border-radius: 8px;
            color: #fff;
            font-weight: 500;
            font-size: 16px;
            background-color: var(--main-colour);
            border: none;
            cursor: pointer;
            margin-left: 40%;
            margin-right: 50%;
            margin-bottom: 50px;
        }
    }
    }

    .stop-section{
        display: grid;
        justify-content: center;
        width: 100%;

        h2{
            display: flex;
            justify-content: center;
            margin-bottom: 30px;
        }
        .wrap-section{
            display: flex;
            width: 100%;

            .image-tab{
                
            }

            .tab-header-wrapper{
                display: flex;
                gap: 7px;
                
                
           
                .tab-heade{
                display: flex;
                position: relative;
                justify-content: center;
                border-top-right-radius: 10px;
                border-top-left-radius: 0px;
                align-items: center;
                width: 150px;
                padding: 15px;
                height: 65px;
                background-color: #3a4652;

                span {
                    position: absolute;
                    color: #dce0e5;
                    cursor: pointer;
                    left: 0;
                    width: 100%;
                    text-align: center;
                }
                  
                span:nth-child(2) {
                    top: 30px;
                    visibility: collapse;
                  }

                a{
                    text-decoration: none;
                    color: #dce0e5;
                    cursor: pointer;
                }
                }
            .tab-header{
                display: flex;
                justify-content: center;
                border-top-right-radius: 10px;
                border-top-left-radius: 10px;
                align-items: center;
                width: 150px;
                padding: 15px;
                height: 65px;
                background-color: #dce0e5;
               
                

                a{
                    text-decoration: none;
                    color: #3a4652;
                    font-weight: 400;
                    cursor: pointer;
                }

    
            }
         }
         .tab-wrap-container{
                position: relative;
                color: #dce0e5;
                cursor: pointer;
                left: 0;
                width: 100%;
                
                
            div:nth-child(1) {
                position: absolute;
              }
              
            div:nth-child(2) {
                position: absolute;
                display: none;
              }
              div:nth-child(3){
                position: absolute;
                display: none;
              }
         
         .tab-wrap-content{
            background-color: #3a4652;
            width: 464px;
            height: 335px;
            color: #dce0e5;
            padding: 20px;
            font-size: 18px;
            font-weight: 350;

            h2{
                display: flex;
                justify-content: flex-start;
                padding-top: 20px;
            }

            a{
                text-decoration: none;
                color: #dce0e5; 
            }

            .tab-wrap-button{
                margin-top: 20px;
                cursor: pointer;

                .fa-solid{
                    margin-right: 10px;
                }
            }
         }
        }
        }
    }
    .footer{

        margin-top: 100px;
        display: flex;
        gap: 60px;
        line-height: 30px;
        
        h4{
            color: #3a4652;
        }
        p{
            color: #0076a8;
            cursor: pointer;
        }
        .image{
            height: 120px;
            max-width: 70px;
            margin-left: 55px;
            
        }
        .footer-button{
            height: 40px;
            width: 170px;
            justify-content: center;
            align-items: center;
            background-color: var(--main-colour);
            border-radius: 2px;
            display: grid;
            cursor: pointer;

            h4{
                color: #fff;
            }

        }
    }
    @media screen and (max-width: 800px) {
        .white-upper, .left, .right, .hero, .info, .hero-down, .stop-section, .footer {
          width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
        }
      }